body {
  padding: 2%;
}

.tutto .ant-btn-primary {
  width: 100%;
  height: 10vh;
  font-size: 30px;
}

.tutto .card {
  max-width: 100%;
  border: 5px;
  border-style: solid;
  border-radius: 10px;
  margin-top: 2vh;
}

.tutto .values {
  padding-top: 2vh;
  padding-bottom: 1vh;
}

.tutto .values .ant-input-group-addon {
  width: 50%;
  font-size: 16px;
}

.tutto .values input {
  font-size: 16px;
}

.tutto .ant-steps-item-title {
  font-size: 16px;
}
